# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg
venv/
.venv/

# Environment variables 
.env

# Data files
data/raw/
data/processed/*.json
mlruns/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
docker-data/

# Jupyter
.ipynb_checkpoints/